<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ProductRegistration</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchProduct</display-name>
    <servlet-name>SearchProduct</servlet-name>
    <servlet-class>pack.SearchProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchProduct</servlet-name>
    <url-pattern>/SearchProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterProduct</display-name>
    <servlet-name>RegisterProduct</servlet-name>
    <servlet-class>pack.RegisterProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterProduct</servlet-name>
    <url-pattern>/RegisterProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProduct</display-name>
    <servlet-name>UpdateProduct</servlet-name>
    <servlet-class>pack.UpdateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProduct</servlet-name>
    <url-pattern>/UpdateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterSales</display-name>
    <servlet-name>RegisterSales</servlet-name>
    <servlet-class>pack.RegisterSales</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterSales</servlet-name>
    <url-pattern>/RegisterSales</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadCSV</display-name>
    <servlet-name>DownloadCSV</servlet-name>
    <servlet-class>pack.DownloadCSV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadCSV</servlet-name>
    <url-pattern>/DownloadCSV</url-pattern>
  </servlet-mapping>
</web-app>